@font-face {
font-family: "Ameretto";
src: url("Ameretto.eot") format("eot"); /* IE9 Compat Modes */
src: url("Ameretto.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Ameretto.woff") format("woff"), /* Modern Browsers */
     url("Ameretto.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Californian FB";
src: url("Californian FB.eot") format("eot"); /* IE9 Compat Modes */
src: url("Californian FB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Californian FB.woff") format("woff"), /* Modern Browsers */
     url("Californian FB.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Centaur";
src: url("") format("eot"); /* IE9 Compat Modes */
src: url("?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("") format("woff"), /* Modern Browsers */
     url("CENTAUR0.TTF") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Century";
src: url("") format("eot"); /* IE9 Compat Modes */
src: url("?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("") format("woff"), /* Modern Browsers */
     url("CENTURY.TTF") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Century";
src: url("") format("eot"); /* IE9 Compat Modes */
src: url("?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("") format("woff"), /* Modern Browsers */
     url("CENTURY0.TTF") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "CG Times";
src: url("") format("eot"); /* IE9 Compat Modes */
src: url("?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("") format("woff"), /* Modern Browsers */
     url("CGTR46W.TTF") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
